#Formulario{
  height: 500px;
  width: 100%;
  background: transparent;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#Formulario form{
  height: 400px;
  width: 400px;
  max-width: 500px;
  min-width: 400px;
  background: #00000010;
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  overflow: hidden;
  margin: 0px 5px;
  position: relative;
}

#Formulario #SuporteEmail{
  height: 300px;
  width: 400px;
  max-width: 500px;
  background: #00000099;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  margin: 0px 5px;
}

#Formulario form input{
  padding: 14px 15px;
  width: 300px;
  height: 50px;
  font-family: basic;
  letter-spacing: 4px;
  word-spacing: 2px;
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 0px 0px 0px #000000;
  margin: 10px;
  border-radius: 30px;
  background: #00000099;
  color: #FFFFFF;
  z-index: 1;
  position: relative;
  border: 1px solid #45AC8C;

}

#Formulario form input::placeholder,#Formulario form textarea::placeholder{
  font-family: konexy;
  transition: .3s !important;
  letter-spacing: 2px;
  color: #FFFFFF;
}

#Formulario form input:focus::placeholder,#Formulario form textarea:focus::placeholder{
  color: #45AC8C;

}

#Formulario form textarea{
  padding: 8px;
  border: 1px solid #45AC8C;
  margin: 5px;
  width: 80%;
  font-family: basic;
  letter-spacing: 4px;
  word-spacing: 2px;
  font-weight: 800;
  font-size: 1rem;
  text-shadow: 0px 0px 0px #000000;
  background: #00000099;
  color: #FFFFFF;
  max-width: 300px;
  min-width: 300px;
  z-index: 1;
}

#Formulario form button{
  color: #FFFFFF;
  text-decoration: none;
  font-family: konexy;
  background: #00000020;
  letter-spacing: 2px;
  width: 60%;
  padding: 10px 30px;
  margin:  5px 15px;
  transition: .3s ease-in-out !important;
  border-radius: 1px;
  border: none;
}

#Formulario form button:hover{
  background: #FFFFFF05;
}

#Formulario form input[type=file]{
  display: none;
}

#Formulario form input[type=file] + label{
  color: #FFFFFF;
  text-decoration: none;
  font-family: konexy;
  background: #00000020;
  letter-spacing: 2px;
  width: auto;
  padding: 10px 30px;
  margin: 5px 15px;
  font-size: .5rem;
  transition: .3s ease-in-out !important;
  border-radius: 1px;
  border: none;
}
