#Controle {
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  background: #FFFFFF;
  zoom: 1.5;
  margin: 5px 0px !important;
  position: relative;
  padding: 5px;
}

#Controle button{
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 0%;
  background: transparent;
  color: #FFFFFF;
  font-size: .5rem;
  margin: 5px;
  position: absolute;
}

.topo{
  top: 0px;
  left: 50%;
  transform: translate(-50%,0%);
}

.baixo{
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0%);
}

.esquerda{
  left: 0px;
  top: 50%;
  transform: translate(0%,-50%);
}

.direita{
  right: 0px;
  top: 50%;
  transform: translate(0%,-50%);
}

#Controle button img{
  height: 40px;
  width: auto;
  filter: drop-shadow(2px 2px 2px #00000050);
}

@media (max-width: 480px){
body #Controle {
  height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  background: #FFFFFF;
  zoom: 1;
}
}

@media (min-width: 769px){
body #Controle {
  height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  background: #FFFFFF;
  zoom: 2;
}
}
