*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
  width: 100%;
  background: #45AC8C;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body{
  background: #161529;
  animation: 1s Login ease-in-out forwards;
  width: 0%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@keyframes Login {
  0%{
    width: 0;
  }
  
  100%{
    width: 100%;
  }
}
