*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --colorFirst: #161529;
  --colorSecond: #45AC8C;
}

html , body {
  height: 100%;
  width: 100%;
  background: transparent;
  scroll-behavior: smooth;
}

#Links{
  height: auto;
  width: 100%;
  padding: 10px 5px;
  background: var(--colorFirst);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#Links a{
  color: #FFFFFF;
  background: #6E73A8;
  height: 30px;
  width: 80%;
  max-width: 200px;
  min-width: 200px;
  display: block;
  background: var(--colorSecond);
  border-radius: 15px;
  text-decoration: none;
  color: var(--colorFirst);
  padding: 7px 0px;
  text-align: center;
  letter-spacing: 3px;
  margin: 15px;
  font-family: konexy;
  transition: .3s !important;
  font-size: .8rem;
}

.Fundamento{
  padding: 10px 5px;
}

.Fundamento h2{
  margin: 10px 5px;
  font-family: konexy;
  letter-spacing: 2px;
  font-weight: 0;
  font-size: 1rem;
  background: #00000010;
  box-shadow: 0 0 10px #00000030;
  padding: 5px 2px;

}

.Fundamento h2:before{
  content: "";
  display: inline-block;
  color: var(--colorFirst);
  height: 10px;
  width: 10px;
  background: var(--colorSecond);
  margin: 0px 7px 1px 0px;
  border-radius: 50%;
}

.Fundamento h3{
  margin: 10px 5px;
  color: #000000;
  font-family: konexy;
  letter-spacing: 2px;
  font-size: .7rem;
  font-weight: 0;
  line-height: 1.5;
  padding: 3px 10px;
  background: #161529;
  box-shadow: 0 0 10px #00000030;

}

.Fundamento p{
  padding: 5px 20px;
  margin: 10px 5px 22px 5px;
  font-family: montse;
  letter-spacing: 1.5px;
  font-weight: 0;
  font-size: .8rem;
  line-height: 1.5;
  background: #00000010;
  box-shadow: 0 0 10px #00000030;
}

.blue {
  color: #007DFF;
  font-style: normal;
}

.vinho {
  color: #BD0030;
  font-style: normal;
}

.cinza{
  color: #797979;
  font-style: normal;
}

.red {
  color: #FF0000 !important;
  font-style: italic;
}

.green {
  color: #298800;
  font-style: italic;
}

.orange{
  color: #FFB600;
  font-style: normal;
}

.roxo{
  color: #BD00C2;
  font-style: italic;
}

#Links a:hover{
  background: #FFFFFF;
}

@font-face{
  font-family: "montse";
  src : url(".././fontes/montse.woff")
}

@font-face {
  font-family: "konexy";
  src: url(".././fontes/konexy.woff")
}
