*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
}

html, body{
  background: #161529;
  height: 100%;
  width: 100%;
}

body{
  padding: 20px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  transition: .3s !important;
}

body #go{
  position: fixed;
  top: 25%;
  right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  transition: .3s !important;
}

body article{
  height: 250px;
  width: 80%;
  max-width: 310px;
  min-width: 310px;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

body article button{
  height: 70px;
  width: 70px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background: #FFFFFF10;
}

body article button img{
  height: 70px;
  width: 70px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: .3s ease-in-out !important;
}

input,#resultado{
  margin: 10px auto;
  display: block;
  padding: 5px 8px;
  letter-spacing: 1px;
  width: 190px;
  font-family: monospace;
  font-weight: 10;
  background: #FFFFFF05;
  border-radius: 1px;
  color: #FFFFFF;
  text-align: right;
  border: 1px solid #45AC8C;
  caret-color: #45AC8C;
}

/*body article button:hover img{
  padding: 5px;
  border: 1px solid #45AC8C;
}

*/
